nav.navbar.navbar-expand-lg.bg-primary
  a.navbar-brand(href='/') FactorioRecipe
  .navbar-collapse.collapse
    ul#navs.navbar-nav
      li.nav-item
        a.nav-link(href='/') Recipe
      li.nav-item
        a.nav-link(href='/uploader.html') Uploader
script $('nav a').each(function(e){ $(this).addClass('text-white') });
