doctype html
html(lang=ja)
  head
    include template/_header
    title FactorioRecipe
    script(src='/js/index.js')
  body
    include template/_navbar
    .container(role=main)
      .jumbotron
        h1.display-2 FactorioRecipe
      #items.row
        .col-md-4.col-sm-6(v-for='(group, name) in items')
          h4 {{ camelCase(name) }}
          ul
            li(v-for='item in group')
              a(:href='"/recipe.html?id=" + item.id') {{ item.name }}
