doctype html
html(lang=ja)
  head
    include template/_header
    title FactorioRecipe
    script(src='/js/recipe.js')
  body
    include template/_navbar
    .container(role=main)
      h1#item {{ item.name }}
      #recipe
        form.form-inline
          .form-group
            label(for='version') Version
            select#version.form-control(v-model='version')
              option(v-for='version in versions') {{ version }}
        table.table.table-condensed.table-striped
          thead
            tr
              th ID
              th 名前
              th 必要時間
              th 必要数
              th
          tbody
            tr(v-for='item in items', :class='{"info": item.id == itemId}')
              td {{ item.id }}
              td {{ item.name }}
              td {{ (item.amount - item.exclude) * item.time }}
              td {{ item.amount - item.exclude }}
              td
                button.btn.btn-default.btn-xs(type='button', v-if='item.id != itemId', @click='setDirect(item)') 直接搬入
        h3 原料
        table.table.table-condensed.table-striped
          thead
            tr
              th ID
              th 名前
              th 必要数
          tbody
            tr(v-for='elem in elems')
              td {{ elem.id }}
              td {{ elem.name }}
              td {{ elem.amount }}

        h3 説明書
        ul
          li 必要時間の比率が組立機の比率になります
          li 必要数は対象の物が目的のものを1つ作るのに必要な数です
          li 別のところで制作して搬入する場合は、直接搬入を押すと、そのサプライチェーンを除外できます
