doctype html
html(lang=ja)
  head
    include template/_header
    title FactorioRecipe uploader
    script(src='/js/uploader.js')
  body
    include template/_navbar
    .container(role=main)
      h3 Recipe Uploader
      form(method='post', action='/api/recipes', enctype='multipart/form-data')
        .form-group
          label(for='version') Version
          input#version.form-control(type='text', name='ver', placeholder='Example: 0.15.10')
        .form-group
          label(for='password') Password
          input#password.form-control(type='password', name='password')
        .form-group
          label(for='zipFile') Zip File(with `Steam/steamapps/common/Factorio/data/base/prototypes/recipe` dir)
          div
            input.form-control(type='text', readonly='', placeholder='Browse...')
            input#zipFile(type='file', name='zipFile')
        button.btn.btn-default(type='submit') Submit

      h3 Item Uploader
      p ※Version管理が無いので最新版以外入れないでください
      form(method='post', action='/api/items', enctype='multipart/form-data')
        .form-group
          label(for='itemZipFile') Zip File(with `Steam/steamapps/common/Factorio/data/base/prototypes/item` dir)
          div
            input.form-control(type='text', readonly='', placeholder='Browse...')
            input#itemZipFile(type='file', name='zipFile')
        button.btn.btn-default(type='submit') Submit


      h3 Delete Version
      #versions
        .alert.alert-danger(role='alert', v-if='alert', v-text='alert')
          button.close(type='button', data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
        form(@submit.prevent, @submit='deleteRecipe()')
          .form-group
            label(for='deleteVersion') Version
            select#deleteVersion.form-control(v-model='ver')
              option(v-for='version in versions') {{ version }}
          .form-group
              label(for='deletePassword') Delete Password
              input#deletePassword.form-control(type='password', placeholder='password', v-model='password')
          button.btn.btn-danger(type='submit') Delete
